{% extends "layout.html" %} {% block content %}
<div class="jumbo">Appointment Page</div>

<script type=text/javascript>
	$(function() {
		$("#submitBtn").click(function() {
			$.ajax({
				type : "GET",
				url : "/echo/",
				contentType : "application/xml; charset=utf-8",
				data : {
					date : $('input[name="date"]').val()
				},
				success : function(data) {
					//$('#slots').text(data.value);
					alert(data["time9_00"])
				},
				error : function(jqXHR, textStatus, errorThrown) {
					alert(errorThrown);
				}
			});
		});
	});
</script>

<strong>Enter a value to echo back:</strong>
<input type='text' size='10' id='date' name='date'>
<button type='button' id='submitBtn' name='submitBtn'>Submit via AJAX</button><br /><br />
<strong><div id='slots'></div></strong>

{% endblock %}
