{% extends "layout.html" %}

{% block content %}
<h2> Check Out </h2>

{% if success %}
	<p>Suite checked out ..</p>

{% else %}
	{% for message in form.suiteId.errors %}
	  <div class="flash">{{ message }}</div>
	{% endfor %}
	 
	{% for message in form.email.errors %}
	  <div class="flash">{{ message }}</div>
	{% endfor %}
	
	<form action = "{{url_for('checkout')}}" method = post>
	
	{{form.hidden_tag()}}
	
	{{form.suiteId.label}}
	{{form.suiteId}}
	
	{{form.email.label}}
	{{form.email}}

	{{form.submit}}
	
	</form>
{% endif %}
{% endblock %}