<!DOCTYPE html>
<html>
<head>
<title>Flask App</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="{{ url_for('static', filename='css/main1.css') }}">
</head>
<body>

	<header>
		<div class="container">
			<h1 class="logo">Flask App</h1>
			<strong><nav>
					<ul class="menu">						
						<li><a href="{{ url_for('signup') }}">Signup</a></li>
						<li><a href="{{ url_for('signin') }}">Signin</a></li>
						<li><a href="{{ url_for('signout') }}">Signout</a></li>
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="{{ url_for('appointment') }}">Appointment</a></li>
						<li><a href="{{ url_for('availability') }}">Availability</a></li>
						<li><a href="{{ url_for('checkout') }}">Checkout</a></li>
						<li><a href="{{ url_for('learn') }}">Learn</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
						
					</ul>
				</nav> </strong>
		</div>
	</header>

	<div class="container">{% block content %} {% endblock %}</div>

</body>
</html>